{% extends 'layout.html' %}
{% load static from staticfiles %}


{% block content %}


        <div class = row>
            <div class ='col-md-9'>
                <input type="text" class="form-control" id="mapsearch">
                <div id="map"></div>
            </div>
            <div class ='col-md-3'>
                <div class = 'register_form_container'>
                <h1>Create restaruant</h1>
                <form id="rest_form" method="POST" action="" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ user_form.as_p }}
                        {{ form.as_p }}
                        <!-- Provide a button to click to submit the form. -->
                        <input type="submit" id = "register_btn" class ='btn btn-lg btn-primary btn-block' name="submit" value="Create" />
                </form>
                </div>
            </div>
        </div>



{% endblock %}
{% block js %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBwtydvhWrq3U1BNn-ViS4QwFY6YFvDqqo&libraries=places"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
{% endblock %}