/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
    height: 100%;
}

body {
    height: 100%;
    color: #5a5a5a;
}

.main {
    padding-top: 60px;
}

h1 {
    color: #f25d19;
    padding-top: 1rem;
}

input[type=submit] {
    margin-top: 3rem;
}

/*#main-containner {*/
/*padding-top: 5rem;*/
/*}*/

/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-brand {
    text-align: center;
    display: flex;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    min-width: 100%;
    /*height: 500px;*/

    margin: 0 auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* THUMBNAILS
-------------------------------------------------- */
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.thumb-image {
    width: 100%;
    max-height: 300px;
    /*width: 300px;*/
    /*height: 250px;*/
    /*flex-shrink:0;*/
    /*min-width:100%;*/
    /*min-height:100%*/
}

/* USER ICON
-------------------------------------------------- */
#a-icon {
    /*padding: 7.5px;*/
}

.image-crop {
    margin: 5px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.user-icon {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* FORMS
-------------------------------------------------- */

.register_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #f25d19;
    padding-top: 1rem;
}

.register_form_container strong {
    color: #40848f;
}

#user_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#user_form p {
    width: 100%;
}

input {
    width: 100%;
}

form label, span {
    display: block;
}

#post_form {
    display: flex;
    width: 100%;
}

#chat_input {
    width: 80%;
}

#id_content {
    height: 50px;
    width: 100%;

}

#chat_button {
    margin: 0;
    height: 50px;
    width: 20%;
}

.form-group p {
    width: 80%;
    display: flex;
}

.form-group {
    width: 100%;
    display: flex;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#create_rest {
    margin-top: 5rem;
}

/* WIDGETS
-------------------------------------------------- */
.callout {
    margin: 1rem;
}

.label-success {
    vertical-align: text-top;
    font-size: 1rem;
    margin-top: -10px;
}

.breadcrumb {
    margin-top: 2rem;
}

.label.label-success {
    margin-top: 10px;
}

#user_lists {

    margin-top: 12rem;
}

#searchbar {
    margin-top: 5rem;
    padding: 0 15px;
}

#keyword {
    width: 80%;
}

#search_btn {
    margin-top: 0;
    width: 20%;
}

#list_column {
    text-align: center;
}

#rest_column {
    text-align: center;
}

/* RECOMMEND
-------------------------------------------------- */

#highlight {
    padding-top: 5rem;
}

/*#background {*/
/*background-color: #40848f;*/
/*min-height: 100%;*/
/*position:absolute;*/
/*top:0;*/
/*left:0;*/
/*width:100%;*/
/*height:100%;*/
/*padding-top: 10rem;*/
/*!*display: flex;*!*/
/*!*align-content: center;*!*/
/*!*justify-content: center;*!*/

/*}*/

/*#prefs {*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-content: center;*/
/*justify-content: center;*/
/*color: white;*/
/*align-items: center;*/
/*}*/

/*#machine1 {*/
/*margin-top: 20rem;*/
/*padding-top: 22rem;*/
/*height: 430px;*/
/*width: 350px;*/
/*}*/

/*#machine_row {*/
/*display: flex;*/
/*align-content: center;*/
/*justify-content: center;*/
/*}*/

/*#rec_btn {*/
/*margin-top: 2rem;*/
/*width: 200px;*/
/*}*/

/*#checkbox_rec, #btn_rec {*/
/*display: flex;*/
/*align-content: center;*/
/*justify-content: center;*/
/*color: white;*/
/*align-items: center;*/
/*}*/

/* MAP
-------------------------------------------------- */

#mapsearch {
    margin-top: 5rem;
}

#map {
    margin: 0 auto;
    margin-top: 3rem;
    min-width: 300px;
    min-height: 500px;
}

.pac-item {
    display: flex;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    .carousel-inner > .item > img {
        display: none;

    }

    #search_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search_form input {
        width: 350px;
        margin: 2px;
    }

    #checkbox_rec, #btn_rec {
        display: block;

    }

    .carousel .item {
        height: 500px;
        background-color: #777;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}


