{% load static from staticfiles %}


{% load static from staticfiles %}
<!doctype html>

<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{%endblock%}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/cover.css' %}">
	</head>

	<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Foodies</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  {% if user.is_authenticated %}
                        <li><a href="#user">Hi {{ user.username }}!</a></li>
                        <li><a href="{% url 'lists:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'lists:register' %}">Register</a></li>
                        <li><a href="{% url 'lists:login' %}">Login</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">

            <h1 class="cover-heading">Be inspired.</h1>
            <p class="lead">We all have that friend who knows all the good spots. Imagine that friend, times infinite. I know, pretty sweet.</p>
            <p class="lead">
              <a href="{% url 'lists:list' %}" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    </body>
    </html>


